.infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.infoWrapper > h3 {
    text-align: center;
}

.headshot {
    border-radius: 50%;
}

.projectLinksWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1rem;
    margin-top: 0.25rem;
    border-top: 2px solid var(--secondary);
    flex: 1 1;
}

.projectLink {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
}

.projectLink:hover,
.projectLink:focus-visible {
    background-color: var(--accent);
    color: var(--bg-color);
    text-shadow: none;
}
