.projectList {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project > p {
    max-width: 50%;
    text-align: right;
}
