* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1.1rem;
    background-color: var(--bg-dark);
    text-shadow: 1px 2px 4px black;
    color: white;
}

:root {
    --bg-dark: #191b27;
    --bg-color: #2b2d42;
    --primary: #e86a92;
    --accent: #f7e733;
    --secondary: #41e2ba;
    --info: #f7f7f9;
}

a {
    text-decoration: none;
    color: var(--secondary);
    transition: all 200ms ease-in-out;
}

a:hover {
    color: var(--accent);
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}
